{% extends 'default.html' %}

{% block title %}Validação de CNH{% endblock title %}{% block body %}

<body>
    <div id="loading" class="hidden">
        <div class="fixed z-20 flex flex-col gap-8 bg-white items-center justify-center h-dvh w-dvw">
            <h1 class="text-2xl font-bold px-4">Validando dados, por favor aguarde...</h1>
            <video class="h-[35%]" src="/static/img/loading.webm" alt="" autoplay muted loop>
        </div>
    </div>
    <div id="popup" class="hidden">
        <div class="fixed z-10 flex flex-col bg-white items-center space-y-2 py-2 h-dvh w-dvw">
            <h1 class="text-2xl font-bold px-4">A imagem ficou boa?</h1>
            <img class="object-contain overflow-hidden h-fit" id="outputImage" alt="Captured Image">
            <div class="flex flex-row justify-center items-center gap-4">
                <button class="p-2 rounded-xl bg-red-500 hover:bg-red-700 cursor-pointer"
                    onclick="closePopup()">Não</button>
                <button class="p-2 rounded-xl bg-green-500 hover:bg-green-700 cursor-pointer"
                    onclick="confirmImage()">Sim</button>
            </div>
        </div>

        <!-- script to capture images and add them to the form -->
        <script>
            var globalImageDataUrl = null
            var cnhFormData = {
                "cnh_front": null,
                "cnh_qrcode": null
            }

            // Utility function to convert Data URL to Blob
            function dataURLtoBlob(dataurl) {
                var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[arr.length - 1]), n = bstr.length, u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], { type: mime });
            }

            function closePopup() {
                const popupDiv = document.getElementById('popup')
                popupDiv.classList.add('hidden')
            }

            function showLoading() {
                const loadingDiv = document.getElementById('loading')
                loadingDiv.classList.remove('hidden')
            }

            function stopCamera() {
                if (stream) { // Check if a stream currently exists
                    // 1. Get all media tracks from the stream
                    stream.getTracks().forEach(track => {
                        track.stop(); // 2. Call stop() on each individual track
                    });
                    video.srcObject = null; // 3. Disconnect the video element from the stream
                    stream = null; // 4. Clear the global stream reference
                    console.log("Camera stopped."); // For debugging
                }
            }

            function postCnhForm() {
                const method = "post"
                const url = "/validation/cnh/"
                const body = new FormData()
                body.append('cnh_front', cnhFormData.cnh_front)
                body.append('cnh_qrcode', cnhFormData.cnh_qrcode)

                fetch(url, {
                    method: method,
                    body: body,
                })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                        return response.json()
                    })
                    .then((data) => {
                        // redirect to the liveness test
                        window.location.href = data.liveness_url
                    }
                    )
            }

            function confirmImage() {
                if (!cnhFormData.cnh_front) {
                    const blob = dataURLtoBlob(globalImageDataUrl);
                    const file = new File([blob], 'cnh_front.png', { type: 'image/png' });
                    cnhFormData.cnh_front = file
                    closePopup()
                    console.log(cnhFormData);
                    return
                }
                else if (!cnhFormData.cnh_qrcode) {
                    const blob = dataURLtoBlob(globalImageDataUrl);
                    const file = new File([blob], 'cnh_qrcode.png', { type: 'image/png' });
                    cnhFormData.cnh_qrcode = file
                    stopCamera()
                    closePopup()
                    showLoading()
                    postCnhForm()
                    console.log(cnhFormData);
                    return
                }
            }
        </script>
    </div>

    <div class="flex flex-col items-center space-y-2 py-2 max-h-dvh">
        <h1 class="text-2xl font-bold px-4">Capture uma imagem da frente da CNH</h1>

        <video class="rounded-xl object-contain overflow-hidden h-fit" id="videoElement" autoplay playsinline></video>
        <button
            class="flex justify-center items-center cursor-pointer rounded-full bg-green-500 hover:bg-green-700 p-2 h-max lg:w-20"
            id="takePhotoButton">
            <img class="h-[60%]" src="/static/img/capture.svg">
        </button>

        <canvas id="canvasElement" style="display:none;"></canvas>
    </div>

    <!-- script to stream camera and captue image -->
    <script>
        const video = document.getElementById('videoElement');
        const takePhotoButton = document.getElementById('takePhotoButton');
        const canvas = document.getElementById('canvasElement');
        const outputImage = document.getElementById('outputImage');
        let stream; // To store the media stream

        // Request camera access and display the feed
        async function startCamera() {
            var userMediaParams = {
                video: {
                    facingMode: {
                        exact: "environment" // 'environment' refers to the back camera
                    },
                    width: {
                        ideal: 3840
                    },
                    height: {
                        ideal: 2160
                    }
                }, audio: false
            }
            while (true) {
                try {
                    // Request access to the user's media input (video and audio, though we only use video)
                    stream = await navigator.mediaDevices.getUserMedia(userMediaParams);

                } catch (err) {
                    // retry if the error was caused by a missing back camera
                    if (err == 'OverconstrainedError' || err.name == 'OverconstrainedError') {
                        userMediaParams = {
                            video: {
                                width: {
                                    ideal: 3840
                                },
                                height: {
                                    ideal: 2160
                                }
                            }, audio: false
                        }
                        continue
                    }
                    console.error("Error accessing the camera: ", err);
                    alert("Could not access the camera. Please ensure you've granted permission.");
                }
                break
            }

            video.srcObject = stream; // Set the video element's source to the camera stream

            // Log the actual video track settings
            const videoTrack = stream.getVideoTracks()[0];
            const capabilities = videoTrack.getCapabilities();
            const settings = videoTrack.getSettings();
            console.log("Video Track Capabilities:", capabilities);
            console.log("Video Track Settings:", settings);

            const log = document.getElementById('log')
            log.innerText = `capabilities: \n  h: ${capabilities.height.max} w: ${capabilities.width.max}\n\nsessings: \n  h: ${settings.height} w: ${settings.width}`
        }

        function takePhoto() {
            if (stream) {
                // Set canvas dimensions to match the video feed
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                // Draw the current frame of the video onto the canvas
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

                // Get the image data from the canvas as a Data URL (base64 encoded)
                const imageDataUrl = canvas.toDataURL('image/png'); // You can change 'image/png' to 'image/jpeg' for smaller file sizes
                return imageDataUrl
            } else {
                alert("Camera not active. Please allow camera access.");
            }
        }

        // Start the camera when the page loads
        window.addEventListener('load', startCamera);

        // Stop the camera when the page is unloaded to release resources
        window.addEventListener('beforeunload', () => {
            if (stream) {
                stream.getTracks().forEach(track => track.stop());
            }
        });

        // Take a photo when the button is clicked
        takePhotoButton.addEventListener('click', () => {
            const imageDataUrl = takePhoto()
            globalImageDataUrl = imageDataUrl
            console.log(imageDataUrl)
            // Display the captured image
            outputImage.src = imageDataUrl;
            outputImage.style.display = 'block';

            const popupDiv = document.getElementById('popup')
            popupDiv.classList.remove('hidden')
        });
    </script>
</body>
{% endblock body %}

</html>